---
import LeftArrow from "./icons/LeftArrow.astro";
---

<a
  href="/"
  class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-300 bg-red-500 border border-gray-200 rounded-lg hover:bg-red-700 hover:text-white focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-white dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
>
  <LeftArrow />
  {" "}Volver
</a>
